*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html body{
    height: 100%;
}
.titulo{
    background-color: black;
    color: rgb(255, 196, 0);
    padding-top: 30px;
    padding-bottom: 30px;
}
.menu{
    width: 100%;
    color: blue;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.menuplatos{
    width: 10%;
    background-color: gray;
    padding-left: 40px;
    padding-top: 20px;
}
#cajatexto{
width: 90%;
padding-left: 20px;
padding-top: 20px;
}




