* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html body {
    height: 100vh
}

#formulario {
    padding-right: 20px;
    padding-left: 20px;
    width: fit-content;
    padding-top: 20px;
    background-color: gray;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p {
    margin-bottom: 10px;
}
.contenedor {
    background-color: rgb(45, 47, 41);
    display: flex;
    justify-content: center;
}
#basededatos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.datospersonales{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
}
img{
    padding: 20px;
    border-radius: 150px;
}