*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedor{
    height: 750px;
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cajita{
    border-style: solid;
    border-width: 3px;
    border-color: orange;
    background-color: white;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
div:hover{
    background-color: chocolate;
}
.letra{
    font-size: 150px;
    color: blue;
}
#ganador{
    background-color: gray;
    width: 140px;
    height: 40px;
}
